[defaults]

#Default inventory points to stage env
inventory = ./inventory
remote_user = gcp
private_key_file = /Users/efimovi/Otus/DevOps_course/.ssh/gcp

# Disable check of SSH Host-keys(because they are always different for new instances)
host_key_checking = False

# Disable creation of *.retry-files(They are needed not so often, but create a mess)
retry_files_enabled = False

# Specify where are Roles stored(We can specify multiple pathes using ;)
roles_path = ./roles
